* {
    -mfx-main: #F6BD38;
    -mfx-purple: #F6BD38;
    -mfx-color: #F6BD38;
}


/*Pathfinding CSS*/
.half_bottom_left{
    -fx-pref-height: 913;
    -fx-pref-width: 576;
}

.half_bottom_right{
    -fx-pref-height: 913;
    -fx-pref-width: 1344;
    -fx-border-color: #012D5A;
    -fx-border-width: 5px;
    -fx-border-radius: 5;
}

.floor_button{
    -fx-pref-height: 100;
    -fx-pref-width: 100;
    -fx-background-color: #012D5A;
    -fx-background-radius: 20;
    -fx-font-size: 40;
    -fx-font-weight: 700; /* bold */
    -fx-text-fill: #F6BD38;
}

.gesture_pane_pathfinding{
    -fx-pref-height: 913;
    -fx-pref-width: 1344;
}

.button_vbox{
    -fx-pref-height: 560;
    -fx-pref-width: 80;
    -fx-padding: 10;
}

.locationSelect_vbox{
    -fx-pref-height: 600;
    -fx-pref-width: 500;
}

.algoCheckBox{
    -fx-pref-height: 45;
    -fx-pref-width: 45;
    -fx-font-size: 40;
    -fx-font-weight: 600;
}

.algoSelect_hbox{
    -fx-pref-height: 30;
    -fx-pref-width: 400;
}

.algoCheckBox .box{
    -fx-background-color: #D9D9D9;
    -fx-border-color: none;
}

.algoCheckBox:selected .mark {
    -fx-background-color: white;
}

.algoCheckBox:selected .box {
    -fx-background-color: #012D5A;
}

.locationSelect_comboSearchBox{
    -fx-background-color: #D9D9D9;
    -fx-font-size: 15;
    -fx-pref-height: 60;
}

.getPath_Button{
    -fx-pref-height: 65;
    -fx-pref-width: 250;
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 30;
    -fx-font-size: 30;
    -fx-text-fill: #000000;
    -fx-alignment: center;
}

.locationLabel{
    -fx-font-size: 30;
}


.left_vbox{
    -fx-min-width: 620;


}

.gesture_pane_pathfinding .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-padding:-7;
}
.gesture_pane_pathfinding .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding:-7;
}

.request_submit_button{
    -fx-font-size: 30;
}
.floor_button{
    margin: auto;
}

