@font-face {
    font-family: url('Poppins-Regular.ttf');
}
.homepage{
    -fx-background-image: url(international-bwh-1428x1110.jpeg);
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%,100%;
    -fx-background-color: #FFFFFF;
    -fx-pref-height: 260;
    -fx-pref-width: 600;
    -fx-alignment: CENTER;
}
.functionality_zone{
    -fx-background-color: #F1F1F1;
    -fx-max-height: 260;
    -fx-pref-height: 260;
    -fx-pref-width: 600;
    -fx-alignment: CENTER;
}
.top_banner{
    -fx-background-color: #F1F1F1;
    -fx-max-height: 45;
    -fx-pref-height: 45;
    -fx-alignment: CENTER;
}
.anchor_pane_sizing{
    -fx-pref-width: 600;
}


.text {
    -fx-font-family: "Poppins";
}
.background_test{
    -fx-background-image: url(international-bwh-1428x1110.jpeg);
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}
.pane_banner_sizing{
    -fx-pref-width: 600;
    -fx-max-height: 30;
    -fx-pref-height: 30;
    -fx-min-height: 30;
    -fx-alignment: CENTER;
}
.banner{
    -fx-background-color: #012D5A;
    -fx-max-height: 50;
    -fx-pref-height: 50;
    -fx-alignment: CENTER;
}
.text_box {
    -fx-background-color: #D9D9D9;
    -fx-text-fill: #000000;
}
.banner_text{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Poppins-Regular";
}
.button_banner{
    -fx-max-height: 30;
    -fx-opacity: 0;
}
.new_banner{
    -fx-max-height: 178;
    -fx-pref-height: 100;
    -fx-background-color: #012D5A;
    -fx-pref-width: 1920;
}
.banner_big-side{
    -fx-pref-width: 1120;
}
.banner_logo_side{
    -fx-pref-width: 800;
}
.hit_the_griddy{
    -fx-pref-height: 90;
}
.rest_of_page{
    -fx-background-color: F1F1F1;
   -fx-pref-height: 980;
    -fx-pref-width: 1920;
    -fx-max-height: 980;
    -fx-max-width: 1920;
}
.half_bottom_page{
    -fx-pref-height: 913;
    -fx-pref-width: 960;

}
.widget_background{
    -fx-background-color: #012D5A;
    -fx-background-radius: 20 20 20 20;
}
.widget_homepage_pair{
    -fx-pref-height: 690;
    -fx-pref-width: 740;
    -fx-max-height: 690;
    -fx-max-width: 740;
}
.login_background {
    -fx-background-color: #012D5A;
    -fx-background-radius: 10 10 10 10;
}
.linear-grad{
    -fx-background-color: linear-gradient(to bottom left, #A868A0, #2D75E8);
}

.signage_text{
    -fx-font-size: 30;
}
.signage_background_color{
    -fx-background-color: #f1f1f1;
}


/* meal request */
.mealLocationNotes_vbox{
    -fx-pref-height: 690;
    -fx-pref-width: 370.5;
}

.scrollPane{
    -fx-background-color: #012D5A;
    -fx-background-radius: 20 20 20 20;
}

.menu_vbox{
    -fx-pref-height: 779;
    -fx-pref-width: 759;
}

/*Pathfinding CSS*/
.half_bottom_left{
    -fx-pref-height: 913;
    -fx-pref-width: 576;
}

.half_bottom_right{
    -fx-pref-height: 913;
    -fx-pref-width: 1344;
    -fx-border-color: #012D5A;
    -fx-border-width: 5px;
    -fx-border-radius: 5;
}

.floor_button{
    -fx-pref-height: 100;
    -fx-pref-width: 100;
    -fx-background-color: #012D5A;
    -fx-background-radius: 20;
    -fx-font-size: 40;
    -fx-font-weight: 700; /* bold */
    -fx-text-fill: #F6BD38;
}

.gesture_pane_pathfinding{
    -fx-pref-height: 913;
    -fx-pref-width: 1344;
}

.button_vbox{
    -fx-pref-height: 560;
    -fx-pref-width: 80;
    -fx-padding: 10;
}

.locationSelect_vbox{
    -fx-pref-height: 560;
    -fx-pref-width: 400;
}

.algoCheckBox{
    -fx-pref-height: 45;
    -fx-pref-width: 45;
    -fx-font-size: 40;
    -fx-font-weight: 600;
}

.algoSelect_hbox{
    -fx-pref-height: 60;
    -fx-pref-width: 400;
}

.algoCheckBox .box{
    -fx-background-color: #D9D9D9;
    -fx-border-color: none;
}

.algoCheckBox:selected .mark {
    -fx-background-color: white;
}

.algoCheckBox:selected .box {
    -fx-background-color: #012D5A;
}

.locationSelect_comboSearchBox{
    -fx-background-color: #D9D9D9;
    -fx-font-size: 15;
}

.getPath_Button{
    -fx-pref-height: 65;
    -fx-pref-width: 250;
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 30;
    -fx-font-size: 30;
    -fx-text-fill: #000000;
    -fx-alignment: center;
}

.locationLabel{
    -fx-font-size: 30;
}


.left_vbox{
    -fx-min-width: 576;


}

.gesture_pane_pathfinding .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-padding:-7;
}
.gesture_pane_pathfinding .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding:-7;
}

.request_submit_button{
    -fx-font-size: 30;
}


/* form status CSS*/
.table_view_right{
    -fx-pref-height: 913;
    -fx-pref-width: 1350;
    -fx-border-color: #012D5A;
    -fx-border-width: 5px;
    -fx-border-radius: 5;
}

.table_view_left{
    -fx-pref-height: 913;
    -fx-pref-width: 470;
}

.table_view_Button{
    -fx-pref-height: 65;
    -fx-pref-width: 250;
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 30;
    -fx-font-size: 30;
    -fx-text-fill: #000000;
    -fx-alignment: center;
}


.signage_clear_button{
    -fx-background-color: #012D5A;
    -fx-background-radius: 30;
    -fx-font-size: 13;
    -fx-text-fill: #FFFFFF;
    -fx-alignment: center;
}

/*admin page CSS - 4 tables, import export */
.admin_page_4_buttons{
    -fx-pref-height: 65;
    -fx-pref-width: 300;
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 30;
    -fx-font-size: 30;
    -fx-text-fill: #000000;
    -fx-alignment: center;
}

.admin_page_3_buttons{
    -fx-pref-height: 65;
    -fx-pref-width: 300;
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 30;
    -fx-font-size: 30;
    -fx-text-fill: #000000;
    -fx-alignment: center;
}

.admin_page_text{
    -fx-font-size: 30;
    -fx-text-fill: #000000;
    -fx-alignment: center;
}



